@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&family=Montserrat+Alternates:wght@100;200;300;400;500;600&display=swap');
@import 'tailwindcss';

@theme {
  --font-sans: 'M PLUS 1p', 'sans-serif';
  --font-logo: 'Montserrat Alternates', 'sans-serif';
}
